#loading {
    width: 80%;
    height: 30px;
    border-radius: 70px;
    margin: auto;
    box-shadow: inset white -80vw 0 0 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    transition: 0.1s;
    display: none;
}